<div class="container">
    <mat-toolbar style="background-color: #0093af;color:white; ">
        <span class="fill-remaining-space"></span>
        <span style="font-size: 30px;"><b>Firebase CMS</b></span>
        <span class="fill-remaining-space"></span>
    </mat-toolbar>
    <mat-divider></mat-divider>
    <div style="margin: 0px 100px">
        <mat-toolbar style="background-color: #f5f0f0">
        <mat-icon>list</mat-icon><span style="font-size: 17px">Content Models</span>
        <span class="fill-remaining-space"></span>
        <span><button mat-raised-button color="primary" (click)="openDialog()"><span>+ New Model</span>
        </button></span>
        </mat-toolbar>
        <!--button (click)="getModels()">getmodels</button-->
        <table>
            <tr>
                <th>Name</th>
                <th>Path</th>
                <th>Fields</th>
                <th style="width: 20px">Edit</th>
                <th style="width: 15px">Delete</th>
            </tr>
            <tr *ngFor="let doc of modelList"  style="cursor: pointer">
                <td (click)="onClick(doc.id)">
                    {{doc.id}}
                </td>
                <td (click)="onClick(doc.id)">
                    {{doc.data().path}}
                </td>
                <td (click)="onClick(doc.id)">
                    {{doc.data().fields}}
                </td>
                <td>
                    <button mat-icon-button (click)="onEdit(doc.id)"><mat-icon>edit</mat-icon></button>
                </td>
                <td>
                    <button mat-icon-button color="warn" (click)="onDelete(doc.id)"><mat-icon>delete</mat-icon></button>
                </td>
            </tr>
        </table>
        
    </div>
    
</div>