<div>
    <h1 mat-dialog-title><mat-toolbar><span>Add New Options</span></mat-toolbar></h1>
    <div mat-dialog-content>
        <p>Option:</p>
        <span *ngFor="let x of data.options">

            <mat-form-field >
                <input matInput [(ngModel)]="x['value']">
            </mat-form-field>
        </span>
    </div>
    <div mat-dialog-actions>
        <!--button mat-button (click)="onNoClick()">No Thanks</button-->
        <button mat-button (click)="addNewField()">add option</button>
        <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Submit</button>
    </div>
</div>
        