<div class="container">
        <mat-toolbar style="background-color: #0093af;color:white; ">
            <span class="fill-remaining-space"></span>
            <span style="font-size: 30px;"><b>Firebase CMS</b></span>
            <span class="fill-remaining-space"></span>
        </mat-toolbar>
        <mat-divider></mat-divider>
        <div style="margin: 0px 100px">
            <mat-toolbar style="background-color: #f5f0f0">
                <button mat-icon-button (click)="onBack()"><mat-icon>keyboard_arrow_left</mat-icon></button>
                <mat-icon>list</mat-icon><span style="font-size: 17px">{{modelName}}</span>
                <span class="fill-remaining-space"></span>
                <!--span><button mat-raised-button color="primary" (click)="openDialog()"><span>+ Add Field</span>
                </button></span-->
            </mat-toolbar>
            <div  style="display: flex;flex-direction: row   ;margin-left: 0px; margin-right:0px">
                <div style="width: 75%; margin: 30px;padding: 0px 5px">
                    <div style="margin-top:10px" *ngFor="let f of fields"><mat-card >{{f}}</mat-card></div>
                </div>
                <div style="width:25%; float: right;padding: 10px 10px;background-color: #e7ebe8;height: 500px;margin: 20px">
                    <div style="font-size: 20px;padding: 5px 5px">
                        Fields
                    </div>
                    <mat-divider></mat-divider>
                    <div style="display: flex;justify-content: center;align-items: center;width: 100%;padding: 10px 10px">
                        <button mat-raised-button color="primary" (click)="openDialog()" >+ Add Field</button>
                    </div>
                    <div style="font-size: 20px;padding: 5px 5px">
                        View Data
                    </div>
                    <mat-divider></mat-divider>
                    <div style="display: flex;justify-content: center;align-items: center;width: 100%;padding: 10px 10px">
                        <button mat-raised-button color="primary" (click)="onViewData()" >View Data</button>
                    </div>
                </div>
            </div>
        </div>
        
    </div>