<div class="container">
    <mat-toolbar style="background-color: #0093af;color:white; ">
        <span class="fill-remaining-space"></span>
        <span style="font-size: 30px;"><b>Firebase CMS</b></span>
        <span class="fill-remaining-space"></span>
    </mat-toolbar>
    <mat-divider></mat-divider>
    <div style="margin: 0px 100px">
        <mat-toolbar style="background-color: #f5f0f0">
            <button (click)="onHome()" mat-icon-button><mat-icon>home</mat-icon></button>
            <mat-icon>list</mat-icon><span style="font-size: 17px">{{docId}}</span>
            <span class="fill-remaining-space"></span>
            <span><button mat-raised-button color="primary" (click)="add()"><span>+ Add Entry</span>
            </button></span>
        </mat-toolbar>
        <table *ngIf="collectionData !=[]">
            <tr>
                <th *ngFor="let col of collection[0]">{{col}}</th>
                <th style="width :100px"><span style="float: right">Remove</span></th>
            </tr>
            <tr *ngFor="let row of collectionData">
                <td *ngFor="let col of collection[0]" style="cursor: pointer" contenteditable="true" 
                    (keyup)="changeValue($event)" (blur)="updateValue($event,row.id,col)" >
                    {{getValue(row,col)}}
                </td>
                <td>
                    <button (click)="remove(row.id)" style="float: right" mat-raised-button color="warn"><mat-icon>delete</mat-icon>Remove</button>
                </td>
            </tr>
            
        </table>
    </div>
</div>